<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Web developed with Angular a powerful front-end web development
          framework that allows developers to create dynamic and responsive web
          applications. A web application developed with Angular is typically
          structured using components, and bootstrap a css frameork
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2003 All Rights Reserved by Sreelekshmi Binu
        </p>
      </div>
    </div>
  </div>
</footer>
