<body class="bg-dark">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img
          width="140px"
          style="padding-left: 10px"
          src="https://www.keralatourism.org/images/kt/kerala-tourism-title.png?d=18122017"
          alt=""
      /></a>
      <button
        style="border-color: white"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="position-absolute top-20 end-0" style="padding-right: 10px">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink=""
              style="color: white; padding-right: 30px"
              >Home</a
            >
            <a
              class="nav-link"
              style="color: white; padding-right: 30px"
              routerLink="hotspot"
              >Hotspot</a
            >
            <a
              class="nav-link"
              style="color: white; padding-right: 30px"
              routerLink="district"
              >District</a
            >
            <a
              class="nav-link"
              style="
                color: rgb(0, 0, 0);
                border: 0px;
                background-color: white;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 30px;
              "
              routerLink="login"
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
