<div class="row">
    <div
      class="card"
      *ngFor="let item of districts"
      style="
        background-color: rgb(71, 71, 71);
        width: 18rem;
        height: 300px;
        margin: 20px;
      "
    >
      <img
        style="padding-top: 10px"
        src="{{ item.img }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" style="color: white">{{ item.name }}</h5>
        <a (click)="goTo(item.name)" class="btn btn-dark">visit</a>
      </div>
    </div>
  </div>
  